.selected-cell {
   background: #FF0000; /* Or some other color */
}

#sensor_table td:hover {
    cursor: pointer;
}

#debug-switch {
    transition: background-color 0.3s;
}

#debug-switch.on {
    background-color: red;
    transition: background-color 0.3s;
}